@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }
  .card-content {
    height: 17rem;
  }
  .center-absolute {
    left: 50%;
    transform: translateX(-50%);
  }
  .w-128 {
    min-width: 16rem;
  }

  .fill-white {
    filter: invert(1) sepia(1) saturate(0) hue-rotate(-144deg);
  }

  .top-24 {
    top: 6rem;
  }

  .border-4 {
    border-width: 4px;
  }

  .button-beep {
    transform: scale(1);
    transition: transform 0.15s 0.1s;
  }

  .button-beep:hover {
    transform: scale(1.1);
    transition: transform 0.15s 0.1s;
  }

  .close-basket {
    top: 2rem;
    right: 2rem;
  }

  @media (min-width: 640px) {
    .close-basket {
      top: 2rem;
      right: 4rem;
    }
  }
  @media (min-width: 1024px) {
    .close-basket {
      top: 2.5rem;
      right: 4rem;
    }
  }

  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .font-racing {
    -webkit-font-smoothing: antialiased;
    font-family: "Racing Sans One", sans-serif;
  }

  .button__hover {
    color: #ed8936;
    border: solid 1px #ed8936;
  }

  .top-half {
    top: 50%;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
