@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }
  .card-content {
    height: 17rem;
  }
  .center-absolute {
    left: 50%;
    transform: translateX(-50%);
  }
  .w-128 {
    min-width: 16rem;
  }

  .button__hover {
    color: #ed8936;
    border: solid 1px #ed8936;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
